html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Space Mono", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Layout */
.container {
  width: 90%;
  margin: 0 auto;
}

/* Nav */

nav {
  padding-top: 20px;
}

nav h1 {
  font-weight: 700;
  color: #333333;
}

/* Header */
header {
  margin-bottom: 80px;
}
.header-image {
  width: 80%;
  height: 80%;
  margin: 19% auto;
}

.header-info--heading {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 48px;
  line-height: 71px;
  letter-spacing: -0.035em;
  color: #333333;
}

.header-info--content {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.035em;
  color: #4f4f4f;
  margin-bottom: 65px;
}

.back-btn {
  width: 216px;
  height: 68px;
  left: 24px;
  top: 726px;
  background: #333333;
  padding: 23px 43px;
}

.back-btn--text {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-text {
  text-align: center;
  font-size: 14px;
  color: #333333;
  margin-bottom: 40px;
}
